All Jobs for <strong><%= @company.name %></strong>

<br>
<% @jobs.each do |job| %>

  <%= link_to job.title, company_job_path(@company, job) %>
<% end %>

<p> <%= link_to "Add New Job", new_company_job_path %> </p>
