<h1> <%= @category.title %> Page </h1>

<h2>Jobs</h2>
  <% @category.jobs.each do |job| %>
  <ul>
  <%= job.company.name %>
  <%= link_to job.title, company_job_path(job, job.company) %>
</ul>
  <% end %>

<%= link_to "Category Index", categories_path %>
